

@import url('../theme.css');

.post-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 12px;
    box-sizing: border-box;
    padding: 16px 8px 8px 8px;
    background: var(--color-white);
    min-height: 80vh;
    color: var(--color-black);
}

@media (max-width: 900px) {
    .post-list {
        flex-direction: column;
        gap: 8px;
        padding: 8px 4px;
    }
}
