:root {
  --color-green: #90d8b2;
  --color-blue-light: #8dd2dd;
  --color-blue: #8babf1;
  --color-blue-mid: #8b95f6;
  --color-purple: #9b8bf4;
  --color-error: #f44336;
  --color-text: #333;
  --color-white: #fff;
}
